section div.container {
  width: 100%;
  height: 100%;
}
section div.weft {
  width: 80%;
  min-width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
section div.weft .border-top {
  min-width: 700px;
  background-image: url('../images/style/sep.png');
  background-repeat: no-repeat;
  background-position: center;
}
section div.weft .border-bottom {
  min-width: 700px;
  background-image: url('../images/style/sep.png');
  background-repeat: no-repeat;
  background-position: center;
}
section div.weft div.information {
  padding-top: 27%;
}
section div.weft span.border-time {
  display: block;
  margin-top: 80px;
  min-width: 900px;
  border-bottom: 10px solid rgba(48, 48, 48, 0.9);
}
section div.weft div.round {
  width: 140px;
  height: 140px;
  background-color: blue;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -o-border-radius: 120px;
  border-radius: 120px;
}
section div.weft div.round img {
  margin-left: 35px;
  margin-top: 35px;
}
section div.weft div.window {
  width: 140px;
  height: 100px;
  background-color: white;
  border: solid 1px rgba(48, 48, 48, 0.4);
  padding: 8px;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: left;
  margin-right: 4px;
}
section div.weft div.window:after {
  content: "";
  width: 0px;
  height: 0px;
  border-color: transparent transparent #484848;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  position: absolute;
  margin-top: -18px;
  margin-left: -10px;
}
@font-face {
  font-family: "GearedSlab-Light";
  src: url('../font/GearedSlab-Light.ttf');
}
@font-face {
  font-family: "Fontin";
  src: url('../font/FontinSans_Cyrillic_R_46b.otf');
}
@font-face {
  font-family: "SilverFake";
  src: url('../font/Silverfake.otf');
}
@font-face {
  font-family: "DoradoHeadline";
  src: url('../font/DoradoHeadline.ttf');
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/style/bg.png');
}
html h1,
body h1 {
  font-family: "DoradoHeadline", Arial, Serif;
}
nav {
  z-index: 100000000;
  position: fixed;
  width: 100%;
}
nav ul {
  width: 930px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 27px 27px 27px 27px;
  -moz-border-image: url('../images/style/border.png') 27 27 27 27 repeat;
  -webkit-border-image: url('../images/style/border.png') 27 27 27 27 repeat;
  -o-border-image: url('../images/style/border.png') 27 27 27 27 repeat;
  border-image: url('../images/style/border.png') 27 27 27 27 fill repeat;
  background-image: url('../images/style/bg.png');
}
nav ul a {
  display: inline-block;
}
nav ul a li {
  display: inline-block;
  width: 130px;
  height: 30px;
  font-family: "GearedSlab-Light";
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #242424;
}
nav ul a li:hover {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul a li:target {
  background-color: blue;
}
nav ul a:first-child {
  margin-left: -40px;
}
nav ul a#third {
  position: absolute;
  margin-top: -59px;
  margin-right: 100px;
  height: 10px;
  cursor: default;
}
nav ul a#third li {
  cursor: default;
}
nav ul a#third li:hover {
  background-color: #eddfcf;
  cursor: default;
}
nav ul a#fourth {
  margin-left: 150px;
}
section {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
section #contents1 #accueil h1 {
  margin: 0;
  padding: 0;
}
section #contents1 #accueil p {
  padding: 15px;
  padding-left: 40px;
  font-family: "Fontin", Arial, Serif;
  line-height: 21px;
  width: 85%;
}
section #contents1 #accueil p img {
  float: left;
  width: 170px;
  height: 170px;
  margin-right: 25px;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 5px solid white;
  -webkit-box-shadow: 1px 1px 12px #242424;
  -moz-box-shadow: 1px 1px 12px #242424;
  -o-box-shadow: 1px 1px 12px #242424;
  box-shadow: 1px 1px 12px #242424;
}
section #contents2 #comp div.skill {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -o-border-radius: 120px;
  border-radius: 120px;
  border: 1px dotted black;
}
section #contents2 #comp canvas {
  margin-left: 100px;
}
section #contents3 #real div.wall-left {
  width: 50%;
  margin-right: 20px;
}
section #contents3 #real div.wall-left table {
  border-collapse: collapse;
}
section #contents3 #real div.wall-left table tr td {
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
}
section #contents3 #real div.wall-left table tr td img {
  width: 100%;
  height: 100%;
}
section #contents3 #real div.wall-left table tr td small {
  position: absolute;
  font-family: "Fontin";
  font-size: 14px;
  margin-top: -20px;
}
section #contents3 #real div.wall-left table tr td:hover {
  background-color: rgba(0, 0, 0, 0);
}
section #contents3 #real div.wall-right {
  text-align: center;
  border: 1px solid rgba(48, 48, 48, 0.4);
  width: 46%;
  min-height: 400px;
  margin-top: -310px;
  margin-left: 480px;
  margin-bottom: 50px;
}
