@import "less/bootstrap.less";
@import "less/responsive-768px-979px.less";
@import "less/responsive-767px-max.less";
@import "less/responsive-utilities.less";

@bg:rgba(250,250,250,0.5);

body {
	background-image: url('../img/textures/bg.jpeg');
	overflow-x: hidden;
}

nav {
	&.menu-phone {
		ul {
			@media screen and (min-width: 480px) {
				left:9%!important;
			}
			li {
				display: inline-block;

				a {
					@media screen and (max-width: 480px) {
						padding:10px;
					}	
				}
				@media screen and (max-width: 480px) {
					font-size: 12px;
					margin: 0px;
				}
			}
		}
	}
	&.menu {
		background-image: url('../img/textures/red-bg.png');
		height:100%;
		min-height: 600px;
		margin-left: -20px !important;
		min-width: 100px;
		position: fixed;
		.box-shadow(0px 1px 1px #242424);

		div.center {
			text-align: center;
		}
		ul {
			margin-top: 30px;

			&.navigation {

				a {
					text-decoration: none;
					border-bottom: 1px dotted rgba(255,255,255,0.4);
					display: block;
					// margin-bottom: 10px;
					padding-right: 20px;

					&:last-child {
						border-bottom: none;
					}
					&:hover {
						text-decoration: none;
						background-color: rgba(255,255,255,0.1);
						text-shadow:0px 0px 12px black;
					}
					li {
						color:white;
						line-height: 44px;
						text-align: right;
					}
					&.on {
						text-decoration: none;
						background-color: rgba(255,255,255,0.1);
						text-shadow:0px 0px 12px black;
					}
				}
			}
			&.social {
				li {
					border: none;
					display: inline-block;
					margin: 7px;
				}
			}
		}
	}
}

div.container-fluid {
	
}
div.home {
	padding: 15px;

	h1 { text-align: center;}

	div.presentation {
		text-align: center;
		margin-bottom: 25px;
		img { 
			margin: 10px;
			position: relative;
			left:140%;
		}
	}
	p {
		padding-top: 10px;
		img { 
			.border-radius(2px);
			float:left;
			width:21%; 
			margin-top:-10px;
			margin-right: 10px;
		}

		&.full-screen {
			padding: 15px;
			padding-top: 25px;
			background-color: rgba(250,250,250,0.5);
			width:100%;
			min-height:170px;

			img {
				.square(170px);
			}
		}
	}
}

div.comp {
	ul {
		text-align: center;
		li {
			margin: 10px;
			border:8px solid white;
			@shadow: 0px 0px 12px rgba(0,0,0,0.3), inset 0px 0px 12px rgba(48,48,48,0.5);
			.box-shadow(@shadow);
			background-color: rgba(250,250,250,0.5);
			padding: 2px;
			display: inline-block;
			&:before {
				content:"";
				// position: absolute;
				margin-top: -30px;
				display: block;
				text-align: center;
				background-image:url('../img/logo/pins.png');
				background-repeat: no-repeat;
				background-position: center;
				width:100%;
				height:30px;
				z-index: 1000;
			}
		}
	}
}
div.realisations {
	table {
		background-color: rgba(250,250,250,0.5);
	}
}

div.exp {
	div.exp-list {
		margin-top: 100%;

		div.timeline {
			.center-block();
			@tl:rgba(0,0,0,0.7);
			width:7px;
			height: 500px;
			background-color: @tl;
		}
		div.arrow-tl {
			.center-block();
			@tl:rgba(0,0,0,0.7);
			width: 0;
			height: 0; 
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 30px solid @tl;
		}
	}

	div.list-exp-left {
		margin-top: -500px;
		height: 300px;
		opacity: 0;
		div.exp-box {
			width:250px;
			height:120x;
			background-color: @bg;
			border:3px solid rgba(0,0,0,0.6);
			.border-radius(2px);
			margin-bottom: 30px;

			h2 { 
				text-align: center;
				border-bottom: 1px solid rgba(0,0,0,0.7);
				font-size: 16px; 
				margin-top: -1px;
				line-height: 23px;
			}
			p {
				text-align: center;
			}

			div.time-link {
				display: block;
				position: absolute;
				width:147px;
				height:1px;
				border:1px solid rgba(48,48,48,0.3);
				background-color: rgba(48,48,48,0.3);
				margin-left: 253px;
				margin-top: -60px;

				&:after {
					content:".";
					display: block;
					background-color: white;
					.square(7px);
					.border-radius(100px);
					color: transparent;
					margin-left: 148px;
					margin-top: -3px;
				}
			}
		}
	}
}

div.contact {
	form {
		legend {
			font-size: 16px;
		}
	}
}