div.comp {
	ul {
		text-align: center;
		li {
			margin: 10px;
			border:8px solid white;
			@shadow: 0px 0px 12px rgba(0,0,0,0.3), inset 0px 0px 12px rgba(48,48,48,0.5);
			.box-shadow(@shadow);
			background-color: rgba(250,250,250,0.5);
			padding: 2px;
			display: inline-block;
			&:before {
				content:"";
				// position: absolute;
				margin-top: -30px;
				display: block;
				text-align: center;
				background-image:url('../img/logo/pins.png');
				background-repeat: no-repeat;
				background-position: center;
				width:100%;
				height:30px;
				z-index: 1000;
			}
		}
	}
}